includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:
    paths:
        - app/
    level: 8
    excludePaths:
        - ./vendor/**
    ignoreErrors:
        - message: '#Call to an undefined method .*::allowedFilters\(\)#'
          path: app/Http/Controllers/**
        - message: '#Call to an undefined method .*::getData\(\)#'
          path: app/Http/Middleware/**
        - message: '#Call to an undefined method .*::setData\(\)#'
          path: app/Http/Middleware/**
        - message: '#Access to an undefined property#'
          path: app/Http/Resources/*

#    ignoreErrors:
#        - '#PHPDoc tag @var#'
#
#    excludePaths:
#        - ./*/*/FileToBeExcluded.php